@media screen and (max-width: 800px){
    .letreiro .container{
        display:flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        
}


    .botao{
        margin-top: 5px;
        width: 100px;
        padding: 5px 1px 5px 1px;
        font-size: 12px;
    }

    .letreiro .container2{
        margin-left: 0%;
        margin-right: 1%;
    }

    .botao2{
        margin-top: 5px;
        width: 300px;
        padding: 5px 1px 5px 1px;
        font-size: 12px;
        width: 100px;
    }

    .trailerpopup{
        display: none;
        border: 2px whitesmoke;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 10%;
    }

    .logomarca{
        margin: 5px;
        color: var(--vermelho);
        font-family: 'Arial Black';
        font-size: 38px;
        margin-right: 0;
        margin-left: 0;
    }

}

@media screen and (min-width:1000px){
    .descricao{
        width: 60%;
        
        
    }

    .logomarca{
        margin: 5px;
        color: var(--vermelho);
        font-family: 'Arial Black';
        font-size: 38px;
        margin-right: -30%;
    }

    .letreiro .container{
        display:flex;
        flex-direction: row;
        margin-left: 5px;
        /* align-items: flex-end; */
        width: 90%;
    }
    
    .letreiro .container2{
        margin-left: 5%;

    } 
        main nav a{

            margin-left: 3px;
            /* min-width: 50%;
            display: flex;
            flex-direction: row;
            width: 90%;
            text-decoration: none;
            color: ivory;
            margin-right: 0%;
            margin-left: 4%;
            align-items: flex-end; */
    
        }

        /* .letreiro .container{
            display:flex;
            flex-direction: row;
            /* margin-left: 5%; */
            /* width: 95%;
            align-items: center;
            align-content: space-between; */
            


    /* .menu{
        margin-left: 0%;
    */
    
    .botao{
        width: 100px;
    }

    .botao2{
        width: 100px;
    }
}

